<?xml version="1.0"?>
<!--
/**
 * @author Pavel Usachev <webcodekeeper@hotmail.com>
 * @copyright Copyright (c) 2019, Pavel Usachev
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="ALevel\Plugins\Console\Command\PluginTestCommand">
        <plugin
                name="pluginD"
                type="ALevel\ThirdPartyPlugin\Plugin\Console\Command\PluginD"
                sortOrder="0"
                disabled="false"
        />
    </type>
</config>
